@use 'mixins' as *;

.container {

    width: 100%;
    padding: 0 20px;
    margin: 0 auto;

    @include medium {
        max-width: 740px;
    }

    @include large {
        max-width: 1120px;
    }

}

.row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding: 10px;

    @include medium {
        flex-direction: row;
    }
}