header {
    height: 100vh;
    background: url('../assets/img/bg-header.webp') center/cover fixed;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    &::before {
       content: '';
       display: block;
       width: 100%;
       height: 100%;
       background-color: rgba(0, 0, 0, 0.523);
       position: absolute; 
    }

    h1 {
        font-size: 4rem;
        @media screen and (min-width: 1200px) {
            font-size: 6rem;
        }
    }

    p {
        font-size: 160%;
    }
}

.content {
    position: absolute;
    padding: 40px;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 260px;
        padding: 15px;
        background-color: #265902;
        border-radius: 6px;
        font-size: 140%;
        margin-top: 50px;
        transition: 0.5s;
        &:hover {
            background-color: #265902b8;
            transform: translateY(-10px);
        }
        span {
            flex-basis: 20%;
            padding-left: 10px;
        }
    }
}