@use 'variables' as *;

@mixin box($w: 200px, $h: 200px, $bg-color: red, $border-color: green) {
    width: $w;
    height: $h;
    background-color: $bg-color;
    border: 1px dotted $border-color;
}

@mixin medium {
    @media screen and (min-width: $bp-md) {
        @content;
    }
}

@mixin large {
    @media screen and (min-width: $bp-lg) {
        @content;
    }
}

