@use 'variables' as *;

nav {
    height: 10vh;
    background-color: $color-bg-nav;
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;

    div {
        flex-basis: 50%;
        padding: 20px;
    }
}

.logo {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 160%;

    .material-icons {
        font-size: 240%;
    }
}

.menu {
    text-align: right;

    .material-icons {
        font-size: 300%;
        cursor: pointer;
    }
}