$color-bg-link-header: #265902;
$color-bg-link-header-hover: #265902b8;
$color-bg-nav: #260101;
$color-bg-footer: #260101;

$picture-bg-header: url('../assets/img/bg-header.webp') center/cover fixed;

$bp-md: 800px;
$bp-lg: 1200px;